<!DOCTYPE html>
    
    {% include 'head.html' %}
    
    <body class="gap-3">
        <div class="container">
            {% if articles %}
            <div id={{article.slug}} class="text-center border border-2 border-secondary-subtle rounded-4 p-4">
                {{article.content}}
            </div>
            {% endif %}
        </div>

        <footer>
            <nav id = menu class="container-fluid text-bg-dark justify-content-center">
                <ul class="nav justify-content-center">
                    <li class="nav-item">
                        <a class="nav-link active link-light p-4" aria-current="page" href="index.html">Accueil</a>
                    </li>
                </ul>
            </nav>
        </footer>
    </body>
</html